.about-cont h2 {
  font-weight: var(--fw-semi-bold);
}

.about-cont .about-desc p {
  margin-bottom: 12px;
}

.about-cont .about-desc p:last-child {
  margin-bottom: 0;
}

.about-cont .about-sec {
  margin-top: 1rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding-top: 1.15rem;
}

.card {
  height: fit-content;
  position: relative;
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  gap: 1rem;
  background: linear-gradient(
    to right bottom,
    rgb(81, 81, 81) 0%,
    rgba(64, 64, 64, 0) 50%
  );
  box-shadow: 0 16px 30px hsla(0, 0%, 0%, 0.15);
  padding: 2rem 1.75rem;
  border-radius: 1rem;
  z-index: 1;

  &:before {
    content: "";
    position: absolute;
    inset: 2px;
    background: var(--bg-black);
    border-radius: inherit;
    z-index: -1;
  }
}

.card-svg-cont svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--accent-yellow);
}

.card-description-cont h3 {
  font-weight: var(--fw-semi-bold);
}

.card-description-cont p {
  margin-top: 0.2rem;
  color: var(--font-white-2);
}

/* What I Work With */
.about-techs {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  gap: 2rem 2rem;
  flex-wrap: wrap;
}

.tech {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 9rem;
  height: 10rem;
  padding: 2rem;
  text-align: center;
  border-radius: 1rem;
  background: linear-gradient(
    to right bottom,
    rgb(81, 81, 81) 0%,
    rgba(64, 64, 64, 0) 50%
  );
  z-index: 1;
}

.tech::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: var(--bg-black);
  border-radius: inherit;
  z-index: -1;
}

.tech svg {
  fill: var(--accent-yellow);
}

.tech.figma svg {
  fill: none;
}

.tech span {
  font-size: var(--fs-normal);
  color: var(--font-white-2);
}
