.filters {
  margin-top: 0.5rem;
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1.3rem;
}

.filter-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--font-white-1);
  font-size: var(--fs-normal);
  font-weight: var(--fw-normal);
  font-family: Poppins, sans-serif;
  transition: color .3s ease;
}

.filter-btn:hover {
  color: var(--font-white-2);
}

.filter-btn.active {
  color: var(--accent-yellow);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  cursor: pointer;
}

.project-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 1.3rem;
}

.project-item {
  margin-right: -0.05rem;
  margin-left: -0.05rem;
  border-radius: 1rem;
  padding: 0.6rem;
  opacity: 0;
  height: 0;
  position: absolute;
  overflow: hidden;
  transform: scale(0.8);
  transition:
          transform 0.3s ease,
          height 0.3s ease,
          background 0.1s ease;
}

.project-item.active {
  opacity: 1;
  transform: scale(1);
  position: static;
  height: auto;
}

.project-item:hover {
  cursor: pointer;
  background: var(--highlight-grey);
  transition: background 0.3s ease;
}

.project-item:hover .project-img-cont img {
  transform: scale(1.2);
  filter: blur(2px) brightness(0.6);
}

.project-item:hover .project-img-cont svg {
  opacity: 0.9;
}

.project-img-cont {
  position: relative;
  height: 10rem;
  overflow: hidden;
  border-radius: 0.6rem;
}

.project-img-cont img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition:
          transform .3s ease,
          filter .3s ease;
}

.project-img-cont svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 3rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
  opacity: 0;
  fill: var(--accent-yellow);
  background: var(--bg-grey-1);
  transition: opacity .3s ease;
}

.project-description-cont {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding-top: 0.65rem;
}

.project-description-cont .tech-tags {
  margin-top: 0.25rem;
  display: flex;
  gap: 0.5rem;
}

.project-description-cont .tech-tag {
  background: var(--hr-grey);
  padding: 0.125rem 0.5rem;
  border-radius: 0.438rem;
  color: var(--font-white-1);
  font-size: var(--fs-smaller);
  transition: filter .15s ease;
}

.project-description-cont .tech-tag:hover {
  filter: brightness(0.9);
}

.tech-tag.java {
  border: 0.063rem solid rgba(106, 82, 62, 1);
  background: rgba(106, 82, 62, 0.6);
}

.tech-tag.javafx {
  border: 0.063rem solid rgba(87, 137, 207, 1);
  background: rgba(87, 137, 207, 0.6);
}

.tech-tag.mysql {
  border: 0.063rem solid rgba(242, 145, 17, 1);
  background: rgba(242, 145, 17, 0.6);
}

.tech-tag.figma {
  border: 0.063rem solid rgba(119, 74, 234, 1);
  background: rgba(119, 74, 234, 0.6);
}

.project-description-cont h3 {
  font-size: var(--fs-normal);
  font-weight: var(--fw-normal);
}

.project-description-cont p {
  font-size: var(--fs-small);
  font-weight: var(--fw-normal);
  color: var(--font-white-3);
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: var(--bg-black);
  border-radius: 0.5rem;
  width: 80vw;
  max-width: 85rem;
  height: 80vh;
  overflow-y: scroll;
}

.modal-content::-webkit-scrollbar {
  display: none;
}

.modal-image-container {
  width: 100%;
  height: 11rem;
  overflow: clip;
}

#modalImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.9) blur(1px);
}

.modal-description-container {
  padding: 2rem 8rem;
}

#modalTitle {
  font-size: var(--fs-xxlarge);
}

#modal-divider {
  margin-top: 0.3rem;
  margin-bottom: 0.7rem;
  border: 0.188rem solid var(--accent-yellow);
  width: 3rem;
  border-radius: 10px;
}

#modalDescription {
  font-size: var(--fs-medium);
  margin-bottom: 2rem;
}

#modalLink {
  background: var(--accent-yellow);
  padding: 0.65rem 1rem;
  border-radius: 0.438rem;
  text-decoration: none;
  color: var(--bg-black);
  font-weight: var(--fw-semi-bold);
  transition: filter 0.3s ease;
}

#modalLink:hover {
  filter: brightness(0.8);
}